<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-2 mb-4 text-center text-md-start">
                <h5 class="fw-bold">SkyStore</h5>
                <div class="text-muted">© 2023</div>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h6 class="fw-bold mb-3">Категории</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Рассылки</a></li>
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Телеграм боты</a></li>
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Полезные утилиты</a></li>
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Веб-приложения</a></li>
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Микросервисы</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h6 class="fw-bold mb-3">Дополнительно</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="{% url 'blog:post_list' %}">Блог</a></li>
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="#">Мы пишем</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h6 class="fw-bold mb-3">О нас</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a class="text-muted text-decoration-none" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>